[submodule "trabalho-1-118993-119582"]
	path = trabalho-1-118993-119582
	url = git@github.com:detiuaveiro/trabalho-1-118993-119582.git
[submodule "2ano/sem1/aed/pratica/projeto2"]
	path = 2ano/sem1/aed/pratica/projeto2
	url = git@github.com:franciscoribeiro05/aed_projeto2.git
